<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="author" content="Sam Symons">
    <meta name="description" content="Hi, I'm Sam! I'm an iOS developer from New Zealand.">
    <meta http-equiv="Content-Security-Policy" content="default-src gap://ready file://* *; style-src 'self' http://* https://* 'unsafe-inline'; script-src 'self' http://* https://* 'unsafe-inline' 'unsafe-eval'; font-src 'self' https://* data:">

    <title><%= page_title %></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Load useful CSS -->
    
    <%= stylesheet_link_tag 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Source+Code+Pro" rel="stylesheet">
    
    <!-- Load custom fonts -->
    
    <% if development? %>
      <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6796156/6084172/css/fonts.css" />
    <% else %>
      <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6796156/6463372/css/fonts.css" />
    <% end %>
  </head>
  
  <body>
    <div id="body-container">
      <div id="header-container" class="background-content">
        <div class="content">
          <header id="main-header">
            <h1 id="main-title"><%= link_to "Sam Symons", '/' %></h1>

            <nav id="main-navigation">
              <ul id="site-links">
                <li><%= navigation_link_to 'Home', '/' %></li>
                <li><%= navigation_link_to 'Archive', '/archive/' %></li>
                <li><%= navigation_link_to 'Projects', '/projects/' %></li>
              </ul>
            </nav>
          </header>
        </div>
      </div>

      <div class="content">
        <div id="inner-content">
          <%= yield %>

          <footer>
            <p id="footer-details">&copy; <%= Time.now.year %> Sam Symons.
              <a href="https://github.com/samsymons">GitHub</a> &bull;
              <a href="https://twitter.com/sam_symons">Twitter</a> &bull;
              <a href="https://keybase.io/samsymons">Keybase</a>.
              <br/>
              Running on <a href="https://m.do.co/c/6b824f15292b">Digital Ocean</a>, with a little help from <a href="http://nginx.org">NGINX</a> and <a href="https://letsencrypt.org">Let's Encrypt</a>.
            </p>
          </footer>
        </div>
      </div>
    </div>

    <!-- Track pageviews -->

    <% unless development? %>
      <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '4fd537aaf5a1f56afb000079');
          t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
          t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      </script>
    <% end %>

    <%= javascript_include_tag 'highlight.min', 'bigfoot.min' %>
    
    <!-- Activate syntax highlighting -->
    
    <script>hljs.initHighlightingOnLoad();</script>
    
    <!-- Activate Bigfoot -->
    
    <script type="text/javascript">
      $.bigfoot({
        actionOriginalFN: "ignore"
      });
    </script>
    
    <!-- Load KaTeX -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"></script>
    <script>
      renderMathInElement(document.body);
    </script>
  </body>
</html>
