<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1.0">

    <title><%= page_title %></title> 

    <link href="stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="stylesheets/all.css" media="screen" rel="stylesheet" type="text/css">
    <link href="stylesheets/syntax-highlighting.css" media="screen" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="//use.typekit.net/moq7rrj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script>
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-687105-B');
    </script>
  </head>
  <body>
    <header id="main-header">
      <div class="content">
        <h1 id="main-title"><%= link_to "Sam Symons", '/' %></h1>

        <nav id="main-navigation">
          <ul id="site-links">
            <li><%= navigation_link_to 'Archive', '/archive/' %></li>
            <li><%= navigation_link_to 'Projects', '/projects/' %></li>
            <li><%= navigation_link_to 'Hire Me', '/hire/' %></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="content">
      <div id="inner-content">
        <%= yield %>

        <footer>
          <p id="footer-details">&copy; 2013 Sam Symons. Available on <a href="http://github.com/samsymons/samsymons.github.com/">GitHub</a>. Subscribe to the <a href="/feed.xml">RSS feed</a> to stay updated.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
